# Enable the rewrite engine
RewriteEngine On

# Rewrite rule to remove .php extension in the URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirect requests with .php extension to the non-.php URL while preserving the query string
RewriteCond %{THE_REQUEST} \s(/[^?]*)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L,NE,QSA]
